/* escribe tu código CSS aquí */
.text-center{
	text-align: center;
}

body{
	background-color: gray;
	padding: 8% 0%;
}

.logo-principal{
	margin: auto;
	width: 40px;
	height: 40px;
	background:url("../img/menuIcon.png");
	background-size: cover;
	cursor: pointer;
}

.contenedor{
	width: 33%;
	height: 219px;
	margin: auto;
	background-color: white;
	padding: 2% 0%;
}

li {
	list-style: none;
	padding: 4% 0%;
}

li a{
	text-decoration: none;
	font-size: 1.5em;
	color: black;
	font-family: arial;
	font-weight: 700;
}

.menu{
	height: 7px;
	cursor: pointer !important;
	overflow: hidden;
	-webkit-transition: height  1.2s;
}

.menu:hover{
	width: 100%;
    height: 314px;
}